body{
     font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 40px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background:url("../img/Парень.png") 90% 100%/auto 85% no-repeat, url("../img/фон.png") center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    text-align: center;

}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
 }

.title_container input{
    width: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin: 50px 28px 0px 14px;

}