body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 20%;
    float: left;
}

.menu{
    float: left;
    padding-left: 20%;
}

.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background:url("../img/Парень.png") 90% 100%/auto 85% no-repeat, url("../img/фон.png") center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 20% 0px 0px 20%;
    text-align: center;

}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input{
    width: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin: 50px 28px 0px 14px;
}
.about{
    float: left;
    padding-left: 25%;
    padding-top: 150px;

}
.about h2{
    padding-left: 300px;
    font-size: 16px;
}
.about img{
    padding-left: 230px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about p{
    padding-left: 100px;
    width: 600px;
    text-align: center;
}
.about button{
    width: 140px;
    height: 30px;
}

.skills{
    width: 100%;
    height: 510px;
    margin-top: 200px;
    float: left;
    padding-left: 200px;
    background: url("../img/картинка фона skills.png") center/cover no-repeat;
    background-size: 100% 100%;
}
.skills h2{
    margin:100px 500px 100px 500px;
    font-size: 16px;
    text-transform: uppercase;
    color: #344051;
}
.menuSkills{
    float: left;
}

.menuSkills li{
    text-align: center;
    width: 200px;
    float: left;
    color: white;
    margin-right: 100px;
    font-size: 12px;
    text-transform: uppercase;
}

.menuSkills li h4{
    margin-top: 15px;
    margin-bottom: 20px;
    color: #cf7600;
    font-size: 16px;
}
.menuSkills li p{
    color: #344051;
    font-size: 10px;
}
.case{
    width: 100%;
    float: left;
    padding-top: 150px;
}

#cases{
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#casesText{
    text-align: center;
    margin-bottom: 20px;
}
.case img{
    max-width: 1200px;
    padding-bottom: 0;
}
.details{
    padding-left: 300px;
}
.q1el{
    width: 200px;
    float: left;
}

.q3el{
    width: 100%;
    margin-left: 200px;
    width: 700px;
    text-align: left;
    float: top;
}
#projectName{
    font-size: 16px;
    margin-bottom: 10px;
}
#client{
    margin-bottom: 10px;
}
#someCompany{
    margin-bottom: 10px;
}
.buttonDiv{
    margin-top: 10px;
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
    background: #63b5ae;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

#website{
    margin-bottom: 10px;
}

.priceCount{
    float: left;
    width: 100%;

}
.priceCount h2{
    width: 350px;
    margin: 270px 50% 55px 50%;
    font-size: 24px;
}
.priceCount select{
    height: 30px;
    margin-left: 550px;
    width: 650px;
    border-radius: 5px;
    background: #eeeeee;
    margin-bottom: 15px;
}
.priceCount h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 550px;
}

.priceCount img{
    margin-left: 420px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.priceCount h4{
    margin-left: 550px;
}
.statistic{
    margin-top: 150px;
    float: left;
    height: 500px;
    width:100%;
    background: url("../img/фонСтатистика.png") no-repeat;
}
#someStatistic{
    width: 300px;
    margin: 100px 650px 90px ;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.elements{
    margin-left: 200px;
}
.elements h2{
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}
.statistic li{
    text-align: center;

    width: 200px;
    float: left;
    color: #344051;
    margin-right: 100px;
    font-size: 12px;
    text-transform: uppercase;
}

.menuSkills li h4{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #cf7600;
    font-size: 16px;
}

.feedback{
    float: left;
    margin-left: 500px;
    margin-top: 110px;
}
.feedback h2{
    margin-left: 250px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.feedback img{
    margin: 100px 250px ;
    height: 120px;
}
.feedback p{
    margin-top: 20px;
    width: 650px;


    text-align: center;
}
.contacts{
    width: 100%;
    height: 808px;
    color: white;
    margin-top: 155px;
    float: left;
    background: url("../img/ФонКонтактов.png")50%  no-repeat;
}
.contacts h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-left: 270px;
    margin-bottom: 30px;
}
.contacts h2{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 700px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.piece{
    width: 100%;
    margin-left: 400px;
}
.piece p{
    margin-top: 10px;
}

.priceCount h2{
    font-weight: bold;
    font-size: 24px;
}
.contacts li{
    text-align: center;
    width: 200px;
    float: left;
    color: white;
    margin-right: 100px;
    font-size: 12px;
    text-transform: uppercase;
}
.contactText{
    width: 600px;
    text-align: center;
    margin-left: 500px;
    margin-bottom: 50px;
}

/*353*/
/*30*/
.nameEmail input{
    width: 350px;
    height: 35px;
    background: #eeeeee;
    margin-bottom: 15px;
    margin-right: 30px;
}
.messageForm{
    margin-top: 200px;
    margin-left: 400px;
}
.messageT textarea{
    width: 735px;
    height: 100px;
}
.messageForm button{
    border: 2px solid white;
    margin-top: 10px;
    width: 125px;
    height: 35px;
    color: white;
    margin-left: 310px;
    background: none;
    border-radius: 5px;

    font-size: 12px;
    padding: 0px 16px;
}
.maps{
    float: left;
    width: 100%;
    height: 350px;
    background: url("../img/Карта копия.png") no-repeat;
}
.maps button{
    width: 135px;
    height: 45px;
    background: white;
    margin-top: 145px;
    font-weight: bold;
    margin-left: 700px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.footer{
    width: 100%;
    height: 95px;
    background:#344051 ;
    float: left;
    color: white;
}
.footer p{
    margin-top: 40px;
    margin-left: 620px;
}
